{erl_opts, [debug_info]}.
{deps, [
  {dogstatsd,  {git, "https://github.com/SCDependencies/dogstatsde.git",{branch, "master"}}}
]}.


{relx, [{release, {dogger, "0.0.1"},
  [dogger]},
  {dev_mode, false},
  {include_erts, true},
  {system_libs, true},
  {extended_start_script, true},
  {vm_args, "config/vm.args"},
  {sys_config, "config/sys.config"}
]}.